# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/
Pipfile.lock
pip-log.txt

# Virtual environment
venv/
ENV/
.env/

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nose2-junit.xml
pytest_cache/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# dotenv
.env

# Mac
.DS_Store

# VS Code settings
.vscode/
